# Ignore Everything
*

# Do not ignore .gitignore
!.gitignore

# Do not ignore Java Source Code Files
!*.java

# Do not ignore Markdown Files
!*.md
!*.mdx

# Do not ignore Text Files, CSV Files, Image Files and FXML files
!*.txt
!*.csv
!*.png
!*.fxml

!*/
/bin/
